<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Login Page</title>
  <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
  <div class="container">
    <h1>Login</h1>

    <form action="/loginUser" method="post">
      <div class="input-group">
        <label>Email</label>
        <input type="email" name="email" required placeholder="Enter your email">
      </div>

      <div class="input-group">
        <label>Password</label>
        <input type="password" name="password" required placeholder="Enter your password">
      </div>

      <button class="btn loginBtn">Login</button>
    </form>

    <div id="registerBtn">
      <a href="/registerPage"><button class="btn">Register</button></a>
    </div>
  </div>
</body>
</html>
