<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Register Page</title>
  <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
  <div class="container">
    <h1>Register</h1>

    <form action="/addUser" method="post">
      <div class="input-group">
        <label>Full Name</label>
        <input type="text" name="name" required>
      </div>

      <div class="input-group">
        <label>Profile Name</label>
        <input type="text" name="profileName" required>
      </div>

      <div class="input-group">
        <label>Email</label>
        <input type="email" name="email" required>
      </div>

      <div class="input-group">
        <label>Password</label>
        <input type="password" name="password" required>
      </div>

      <button class="btn" type="submit">Register</button>
    </form>

    <div id="backBtn">
      <a href="/backUser"><button class="btn" type="button">Back</button></a>
    </div>
  </div>
</body>
</html>
